---
sidebar_position: 4
---

# Test Report

Solid performance: Can reach 5,000 devices at the same time, with 300,000 units per minute.

**Test Method**

- Super generic computing enhancement|| 4vCPUs | 8GB
- 500 temperature sensors, 1 second message

| Test Project     | Mono Performance | Access device per minute |
| ---------------- | ---------------- | ------------------------ |
| Backend Service  | 5000 TPS         | 3 million devices        |
| Message Received | 5000 TPS         | 3 million devices        |
| Database         | 5000TPS          | 300,000 Devices          |
